.modal {
    color: black;
    text-align: left;
}

.btn-secondary {
    background-color: white;
    color: #6D357B;
    font-weight: 600 !important;
}

.btn-secondary:hover {
    background-color: black;
    color: white;
    font-weight: 600 !important;
}

.btn-primary {
    background-color: white;
    color: #6D357B;
    font-weight: 600 !important;
    border-color: black;
}

.btn-primary:hover {
    background-color: #6D357B;

    color: white;
    font-weight: 600 !important;
    border-color: black;
}