*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: $white;
  scroll-behavior: smooth;
}

html,
body {
  font-family: $body-font;
  height: 100%;
  background-color: rgb(91, 28, 248);

}


body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-size: $font-sm;
  color: $white;
  line-height: 1.3;

  &.noscroll {
    overflow: hidden;
  }
}

h1 {
  font-family: $front-font;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font;
  margin: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Spacing

.container_split {
  max-width: 100%;
  height: 280px;
  width: 100%;
  margin: 0 auto;
  background-color: #FCFCFC;
  color: $black;

  align-items: center;
  text-align: center;

  @include breakpoint-down (small) {
    max-width: 100%;
    height: 250px;
    width: 100%;
    margin: 0 auto;
    background-color: #FCFCFC;
    color: $black;

    align-items: center;
    text-align: center;
  }


  .split__title {
    font-family: $body-font;
    font-size: $font-lg;
    font-weight: 500;
    padding-top: 2rem;

    @include breakpoint-down(small) {
      font-family: $body-font;
      font-size: $font-med;
      font-weight: 500;
      padding-top: 1.5rem;
    }
  }

  .split__text {
    font-family: $body-font;
    font-size: $font-med;
    font-weight: 300;

    @include breakpoint-down(small) {
      font-family: $body-font;
      font-size: $font-sm;
      font-weight: 300;
      padding: 0 1.5rem;
    }
  }

  span {
    font-family: $body-font;
    font-size: $font-med;
    font-weight: 500;

    @include breakpoint-down(small) {
      font-family: $body-font;
      font-size: $font-sm;
      font-weight: 500;
    }
  }
}

.container {
  background: rgb(91, 28, 248);
  background: linear-gradient(130deg, rgba(70, 49, 239, 1) 10%, rgba(132, 30, 255, 1) 40%, rgba(176, 65, 193, 1) 85%);
  // background: linear-gradient(-45deg, rgba(176, 65, 193, 1), rgba(70, 49, 239, 1));
  max-width: 100%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: $white;

  &--pall {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;

  }

  &--py {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &--px {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &--pt {
    padding-top: 1rem;
  }

  &--pl {
    padding-left: 1rem;
  }

  &--pb {
    padding-bottom: 1rem;
  }

  &--pr {
    padding-right: 1rem;
  }
}



// Flexbox ***************************************

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-dir-r {
    flex-direction: row;
  }
}

// Button  ***************************************
// html <button type="button">Get in touch!</button>
button,
.button {
  padding: 0.625rem; // we can change that
  cursor: pointer; // esto si que es necesario
}

// Visibility  ***************************************

.hide-for-mobile {

  // hide for mobile and tablets
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {

  // hide for desktop
  @include breakpoint-up(large) {
    display: none;
  }
}