.header {
    @include breakpoint-down(small) {
        height: 45rem;
    }

    // Hamburger open styles
    &.open {
        .overlay {
            display: block;
        }

        .header__toggle {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(40deg, black, rgb(96, 18, 197));

    }

    &__toggle {
        // mobile menu toggle

        >span {
            display: block;
            width: 1.625rem;
            height: 2px;
            background-color: $white;
            transition: all 350ms ease-in-out;
            transform-origin: 3.8px 1.6px;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    &__menu {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(130deg, rgba(70, 49, 239, 1) 10%, rgba(132, 30, 255, 1) 40%, rgba(176, 65, 193, 1) 85%);
        padding: 4rem 1.625rem;
        margin-top: 1rem;
        border: 1px solid;
        border-radius: 6px;
        border-color: $white;


        a {
            display: block;
            color: $white;
            padding: 1rem 0.625rem;
            text-align: center;
            font-size: $font-sm;


        }
    }

    .navbar {
        position: absolute;
        top: 10px;
        width: 98%;

        @include breakpoint-down (small) {
            position: absolute;
            top: 10px;
            width: 91.5%;
            align-items: center;
            text-align: center;

        }



        &__logo {
            width: 25rem;

            @include breakpoint-down (small) {
                width: 10rem;
                padding: 0 0;
                margin: 0 0;
            }

            img {
                width: 20rem;

                @include breakpoint-down (small) {
                    width: 10rem;
                    align-items: center;
                    text-align: center;
                }
            }
        }

        &__links {
            a {
                position: relative;
                margin-right: 3rem;
                padding-right: 2rem;
                font-family: $body-font;
                font-size: $font-sm;
                color: $white;

                transition: color 300ms ease-in-out;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 2px;
                    background: $white;
                    opacity: 0;
                    left: 0;
                    right: 30px;
                    bottom: -1.3rem;
                    transition: opacity 300ms ease-in-out;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

}