header {
    .navbar {
        position: absolute;
        top: 10px;
        width: 98%;



        &__logo {
            width: 25rem;

        }

        &__links {
            a {
                position: relative;
                margin-right: 8rem;
                padding-right: 3rem;
                font-family: $body-font;
                font-size: $font-sm;
                color: $white;

                transition: color 300ms ease-in-out;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 2px;
                    background: $white;
                    opacity: 0;
                    left: 0;
                    right: 45px;
                    bottom: -1.3rem;
                    transition: opacity 300ms ease-in-out;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

}

