.container__pricing {
    height: 45rem;

    @include breakpoint-down(small) {
        height: 42rem;
    }

    .logo {
        width: 20rem;
    }
}

.split__pricing {
    height: 10rem;
}

.pricing {

    &__cta {
        text-align: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10rem;

        @include breakpoint-down(small) {
            padding-top: 4rem;
        }

    }

    &__title {
        font-family: $front-font;
        font-size: $font-lg;
        text-transform: uppercase;
        padding-bottom: 2rem;

        @include breakpoint-down(small) {
            font-family: $front-font;
            font-size: $font-bsm;
            text-transform: uppercase;
            padding-bottom: 2rem;
        }
    }

    &__text {
        font-family: $front-font;
        font-size: $font-bsm;
        font-weight: 100;
        padding: 0 21rem;

        @include breakpoint-down(small) {
            font-family: $front-font;
            font-size: $font-vsm;
            font-weight: 100;
            padding: 0 0rem;
        }

        span {
            font-weight: 700;
        }

    }

    .button_container {
        text-align: center;
        align-items: center;

    }

    .button {
        text-align: center;
        color: #6D357B;
        background-color: white;
        font-family: $button-font;
        font-size: $font-vsm;
        font-weight: 600;
        border-radius: 50px;
        border: none;
        width: 20rem;
        height: 3.5rem;
        margin-top: 3rem;

        -webkit-box-shadow: -8px -7px 17px -7px #ffffff8c, 10px 9px 17px -5px #00000091;
        box-shadow: -8px -7px 17px -7px #ffffff8c,
            10px 9px 17px -5px #00000091;


    }
}