// Colors

$purple: #6D357B;
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// Fonts

$front-font: "Open Sans",
sans-serif;

$button-font: "Open Sans",
sans-serif;

$body-font: "Raleway",
sans-serif;


// Font sizes

$font-vsm: 1rem;
$font-sm: 1.3rem;
$font-bsm: 1.7rem;
$font-med: 2rem;
$font-lmed: 3rem;
$font-lg: 4rem;
$font-exlg: 6rem;
$font-but: 1.5rem;