// Colors

$darkpurple: rgb(80, 17, 151);
$darkblack: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$blue: rgb(5, 225, 218);

// Fonts

$header-font: "Varela Round",
sans-serif;

$title-font: "Lato",
sans-serif;

$body-font: "Quicksand",
sans-serif;

// Font sizes

$font-vsm: 1rem;
$font-sm: 1.2rem;
$font-med: 2rem;
$font-lg: 3rem;
$font-ex: 6rem;
$font-but: 1.5rem;