.container__we {
    height: 65rem;
}

.we {
    width: 100%;

    &__container {
        flex-direction: row;
    }

    &__item {
        margin: 4rem 0;
        height: 100%;
        width: 100%;
        text-align: center;

    }

    &__image {
        border-radius: 30%;
        border: 5px solid #904BD6;

        -webkit-box-shadow: 0px 4px 3px 3px rgba(190, 29, 249, 1);
        -moz-box-shadow: 0px 4px 3px 3px rgba(190, 29, 249, 1);
        box-shadow: 0px 4px 3px 3px rgba(190, 29, 249, 1);


    }

    &__title {
        font-family: $body-font;
        font-size: $font-med;
        font-weight: 600;

        line-height: 1.7rem;

        span {
            font-family: $body-font;
            font-size: $font-sm;
            font-weight: 500;
        }
    }

    &__description {
        font-family: $body-font;
        font-size: $font-vsm;
        font-weight: 400;

        margin: 0 4rem;
    }

    .button_container {
        text-align: center;


    }

    .button {
        text-align: center;
        color: #6D357B;
        font-family: $button-font;
        font-size: $font-vsm;
        font-weight: 600;
        border-radius: 50px;
        border: none;
        width: 14rem;
        height: 2.7rem;
        margin-left: 4rem;

        -webkit-box-shadow: -8px -7px 17px -7px #ffffff8c, 10px 9px 17px -5px #00000091;
        box-shadow: -8px -7px 17px -7px #ffffff8c,
            10px 9px 17px -5px #00000091;


    }
}